doctype html
html
  head
    title QuickShop
    meta(name='description', content='An Amazon Go-like store')
    
    //- Favicons and Icons
    link(rel='apple-touch-icon', sizes='57x57', href='/images/favicon/images/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/images/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/images/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/images/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/images/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/images/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/images/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/images/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/images/favicon/apple-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/images/favicon/apple-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/images/favicon/apple-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/images/favicon/apple-16x16.png')
    link(rel='manifest', href='/images/favicon/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/images/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')

    link(rel='stylesheet', href='/app.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous")



    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='apple-mobile-web-app-capable' content='yes')
  header
    img#logo(src='/images/logo.png')

  body.container.mb-5
      .row
        .col-3
          .row
            form(data-lpignore="true" autocomplete="off" action='/register', method='POST', enctype='multipart/form-data')
              h3.heading Register
              hr
              .form-group
                label.sr-only(for='register-form-name') Name
                input#register-form-name.form-control(data-lpignore="true" type='text', name='name', placeholder='Name' required='')
              .form-group
                label.sr-only(for='register-form-password') Password
                input#register-form-password.form-control(data-lpignore="true" type='password', name='password' placeholder='Password')
              .form-group
                label.btn.btn-secondary(for='register-form-picture') Choose Picture...
                  input#register-form-picture.file.form-control(data-lpignore="true" type='file', name='picture' required='' hidden='')

              input.btn.btn-secondary(type='Submit', value='Register')
          
          .row.mt-4
            form(autocomplete="off" action='/login', method='POST', enctype='multipart/form-data')
              h3.heading Enter Store
              hr
              .form-group
                label.btn.btn-secondary(for='login-form-picture') Choose Picture...
                  input#login-form-picture.file.form-control(data-lpignore="true" type='file', name='picture' required='' hidden='')
              .form-check.mb-1
                input#login-form-optional-check.form-check-input(type="checkbox")
                label.form-check-label(for="login-form-optional-check") Use Credentials Instead
              .form-group
                label.sr-only(for='login-form-name') Name
                input#login-form-name.form-control(disabled="" data-lpignore="true" type='text', name='name', placeholder='Name')
              .form-group
                label.sr-only(for='login-form-password') Password
                input#login-form-password.form-control(disabled="" data-lpignore="true" type='password', placeholder='Password', name='password')

              button.btn.btn-secondary Login
          .row.mt-4
            form(autocomplete="off" action='/logout', method='POST', enctype='multipart/form-data')
              h3.heading Leave Store
              hr
              .form-group
                label.btn.btn-secondary(for='logout-form-picture') Choose Picture...
                  input#logout-form-picture.file.form-control(data-lpignore="true" type='file', name='picture' required='' hidden='')
              .form-group
                label.sr-only(for='logout-form-name') Name
                input#logout-form-name.form-control(data-lpignore="true" type='text', name='name', placeholder='Name')

              button.btn.btn-secondary Logout
          
          .row.mt-4
            form(autocomplete="off" action='/deleteUser', method='POST')
              h3.heading Delete User
              hr
              .form-group
                label.sr-only(for='delete-user-form-name') Name
                input#delete-user-form-name.form-control(data-lpignore="true" type='text', name='name', placeholder='Name')
              input.btn.btn-danger(type='submit', value='Delete User')
        
        // Shelf 
        .col-9
          .row
            h3.heading.col Shelf
 
            form.form-inline(autocomplete="off", action='/shelf/add', method='POST')
              .input-group.mr-2
                .input-group-text
                  input#pauseShelf(type='checkbox', aria-label='Checkbox for following text input')
                .input-group-append
                  span.input-group-text Pause Live Updating

              .input-group.mr-sm-2
                input.form-control.col(data-lpignore="true", name="name", type='text')
              .input-group.mr-sm-2
                input.btn.btn-secondary(type='submit', value='Add Product')
          hr
          #shelf.row.mb-3        
          .row
            h3.heading.col Current Users
            form.form-inline
              .input-group.mr-2
                .input-group-text
                  input#pauseUsers(type='checkbox', aria-label='Checkbox for following text input')
                .input-group-append
                  span.input-group-text Pause Live Updating
          hr

          #users.row

  script.
    // Toggle login form
    $('#login-form-optional-check').change(function() {
        $("label[for='login-form-picture']").toggleClass('disabled');
        if($(this).is(":checked")) {
          $('#login-form-name').prop('disabled', false);
          $('#login-form-password').prop('disabled', false);
          $('#login-form-picture').prop('disabled', true);
        } 
        else {
          $('#login-form-name').prop('disabled', true);
          $('#login-form-password').prop('disabled', true);
          $('#login-form-picture').prop('disabled', false);
        }
    });

    let cacheUsers = "";
    let cacheCart = "";
    let updateUsers = () => {
      $.get("/users", function(data) {
        $("#users").html("");
        for(let user of data) {
          let cardContainer = $("<div class='mt-3 mr-3 card user'></div>");
          let profilePic = $("<img class='card-img-top' src='/users/" + user.name + "/picture' />")
          let cardBody = $("<div class='card-body'></div>");


          let name = $("<h5 class='card-title'>" + user.name + "</h5>");
          cardContainer.append(profilePic);
          cardContainer.append(cardBody);
          cardBody.append(name);
  

          if (user.Sessions.length > 0) {
            $.get(`/users/${user.name}/cart`, (cartItems) => {
                if (cartItems.products.length > 0) {
                let cartTable = $(`
                  <table class="table">
                    <thead>
                      <th>Item</th>
                      <th>#</th>
                      <th>$</th>
                    </thead>
                  </table>
                `);
                for (item of cartItems.products) {
                  let cartEntry = $(`
                    <tr>
                      <td>${item.name}</td>
                      <td>${item.quantity}</td>
                      <td>${item.price}</td>
                    </tr>
                  `);
                  cartTable.append(cartEntry);
                }
                cardBody.append(cartTable);
              }
            });
            
            let loggedIn = $("<h4><span class='badge badge-primary'>In Store</span></h4>")
            let logout = $("<button class='btn btn-danger' href='#' onclick=\"logout('" + user.name +"')\"><span class='fas fa-sign-out-alt mr-1'></span>Exit Store</button>");
            let checkout = $("<button class='btn btn-success mb-1' href='#' onclick=\"checkout('" + user.name +"')\"><span class='fas fa-shopping-cart mr-1'></span>Checkout</button>");
            cardBody.append(loggedIn);
            cardBody.append(checkout);
            cardBody.append(logout);
          } else {
            let loggedOut = $("<h4><span class='badge badge-warning'>Not in Store</span></h4>")
            let login = $("<button class='btn btn-primary' href='#' onclick=\"login('" + user.name +"')\"><span class='fas fa-sign-out-alt mr-1'></span>Enter Store</button>");
            cardBody.append(loggedOut);
            cardBody.append(login);

          }

          
          $("#users").append(cardContainer);

        }
      });
    };

    let updateShelf = () => {
      var users;
      $.get("/users", function(users) {
        $.get('/shelf', (products) => {
          $("#shelf").html("");
          for (let product of products) {
            let cardContainer = $("<div class='mt-3 mr-3 card shelf-item'></div>");
            let cardBody = $("<div class='card-body'></div>");

            let name = $("<h5 class='card-title'>" + product.name + "</h5>");
            let quantity = $("<p>Quantity: " + product.quantity + "</p>");
            
            cardContainer.append(cardBody);
            cardBody.append(name);
            cardBody.append(quantity);

            let cartForm = $("<div></div>");
            let userSelect = $("<select class='custom-select user-cart-select'></select");

            for (user of users) {
              userSelect.append($(`<option>${user.name}</option>`));
            }

            let hiddenProductName = $(`<input type="hidden" name="product_name" value="${product.name}"></input>`);

            let cartFormSubmit = $(`
              <div role="group" class="btn-group mt-2">
                <button type="button" class="btn btn-primary" onclick="addToCart('${product.name}', this)"><i class="fas fa-cart-plus"></i></button>
                <button type="button" class="btn btn-danger" onclick="removeFromCart('${product.name}', this)"><i class="fas fa-cart-arrow-down"></i></button>
              </div>
            `);


            cardBody.append(cartForm);
            cartForm.append(userSelect);
            cartForm.append(hiddenProductName);
            cartForm.append(cartFormSubmit);
              
            let addRemove = $(`
              <hr/>
              <div role="group" class="btn-group mt-2">
                <button type="button" onclick="addToShelf('${product.name}')" class="btn btn-primary"><span class="fas fa-plus"></span></button>
                <button type="button" onclick="removeFromShelf('${product.name}')" class="btn btn-danger"><span class="fas fa-minus"></span></button>
              </div>
            `);

            cardBody.append(addRemove);
            $("#shelf").append(cardContainer);
          }
        });
      });
    };

    function logout(name) {
      $.post("/logout", {name: name},(data) => {
        window.location.reload();
      });
    }

    function login(name) {
      var password = prompt("What's the password?");
      $.post("/login", {name: name, password: password}, (data) => {
      });
    }
    function checkout(name) {
      $.get(`/users/${name}/checkout`);
    }

    function removeFromShelf(name) {
      $.post("/shelf/remove", {name: name});
      $("#pauseUsers").prop('checked', true);
    }

    function addToShelf(name) {
      $.post("/shelf/add", {name: name});
      $("#pauseUsers").prop('checked', true);
    }

    function addToCart(name, e) {
      let user = $(e).parent().parent().find('select').val();
      $.post(`/users/${user}/cart/add`, {product_name: name});
      $("#pauseUsers").prop('checked', true);
    }

    function removeFromCart(name, e) {
      let user = $(e).parent().parent().find('select').val();
      $.post(`/users/${user}/cart/remove`, {product_name: name});
      $("#pauseUsers").prop('checked', true);
    }

    $("#shelf").on('click', () => {
      $("#pauseShelf").prop('checked', true);
    });

    $("#users").on('click', () => {
      $("#pauseUsers").prop('checked', true);
    });

    $
    //TODO
    updateShelf();
    updateUsers();
    setInterval(() => { 
      if (!$("#pauseShelf").is(":checked")) {
        updateShelf();
      }
      
      if (!$("#pauseUsers").is(":checked")) {
        updateUsers();
      }
    }, 2000);




    